/*Ссылка на шрифты кроме основного 'https://fonts.googleapis.com/css?family=Farsan|Hind+Siliguri|Racing+Sans+One|Six+Caps|Space+Mono:700'*/
body
{
    width: 1200px;
    margin: 0 auto;
}

.clear-fix:after
{
    display: block;
    clear: both;

    content: '';
}

/*––––––––––––––––––Шапка газеты––––––––––––––––––––*/
.header
{
    margin: 35px 0 25px;
}

.header__info
{
    float: left;

    text-align: center;
    font-family: serif;

    box-sizing: border-box;
    width: 200px;
    padding: 25px 10px;

    border: 1px solid;
}

.header__weather
{
    float: right;


    width: 200px;
}

@font-face {
    font-family: "SpaceMono";
    src: url("SpaceMono-Regular.ttf");
}

.header__weather-title
{
    margin: 0;

    /*my*/
    font-family: SpaceMono, monospace;
    font-weight: bold;
    text-align: center;
    font-size: 117%;
}

.header__weather-text
{
    margin: 0;

    /*my*/
    text-align: justify;
    font-size: 80%;
    line-height: 110%;
}

@font-face {
    font-family: "Chomsky";
    src: url("Chomsky.woff");
}

.header__title
{
    overflow: visible;

    /*my*/
    text-align: center;
    font-family: Chomsky, fantasy;
    font-size: 80px;

    margin: 0;
}


/*––––––––––––––––––Подшапка газеты–––––––––––––––––*/
.sub-header
{
    padding: 5px 0;

    /*my*/

    border-top: 1px solid;
    border-bottom: 2px solid;
}

.sub-header__copyright
{
    display: inline-block;

    /*my*/
    font-size: 60%;

    margin: 0 30px;
}

.sub-header__price
{
    float: right;
}


/*––––––––––––––––––Основной контент––––––––––––––––*/
.content
{
    display: flex;
}

/*––––––––––––––––––Блок статьи–––––––––––––––––––––*/

@font-face {
    font-family: SixCaps;
    src: url("SixCaps-Regular.ttf");
}

.article__title
{
    margin-top: 0;
    margin-bottom: 10px;

/*    my*/
    font-family: SixCaps, sans-serif;
    font-size: 320%;
    font-weight: bold;
}

.article__add-text
{
    margin-top: 10px;
    margin-bottom: 4px;

    /*    my*/
    text-indent: 2ch;
    font-size: .8em;
    font-style: italic;
    /*white-space: pre;*/
    text-align: justify;
}


.article__help
{
    margin-top: 10px !important;
    margin-bottom: 4px !important;
}

.article__author
{
    display: block;

    /*my*/
    text-align: center;
    font-size: 80%;
    font-weight: bold;

    margin-top: 10px;
}

.article__continue
{
    display: block;

    font-size: 80%;
    font-style: italic;
    text-align: center;
}

.article__image
{
    margin: 0;
    text-indent: 0;
}

.article__image.article__image_align_right
{
    float: right;

    margin: 10px 0 5px 10px;
}

.article__subtitle
{
    margin: 10px 0;

/*    my*/
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 117%;
    font-weight: bold;
    /*white-space: pre-line;*/
}

/*my*/
.article__content {
    text-indent: 2ch;
    font-size: 80%;
    text-align: justify;
    /*white-space: pre;*/
}

p {
    margin-top: 0.1em; /* Отступ сверху */
    margin-bottom: 0.1em; /* Отступ снизу */
}

.article__image-caption {
    font-size: .8rem;
    text-decoration: underline;
}
/*––––––––––––––––––Блок главной фотографии–––––––––*/

.main-photo__wrapper
{
    margin: 0;
}

.main-photo__img
{
    width: 100%;
}

.main-photo__title
{
    margin: 0;

/*    my*/
    font-weight: bold;
}

.main-photo__desc
{
    margin-bottom: 20px;

/*    my*/
    font-size: 80%;
}

/*my*/
.main-photo__caption {
    font-size: .8rem;
    text-align: right;
    text-transform: uppercase;
}

/*––––––––––––––––––Линия разделения––––––––––––––––*/
.line
{
    border-top: 1px solid #000;
    column-span: all;
}

.line.line_type_bold
{
    margin-bottom: 3px;

    column-span: all;
    border-width: 2px;
}

.line.line_type_short
{
    width: 70px;
    margin: 0 auto;
}

/*––––––––––––––––––Центральные колонки газеты––––––––––––––––––*/

@font-face {
    font-family: "Racing";
    src: url("RacingSansOne-Regular.ttf");
}

@font-face {
    font-family: Farsan;
    src: url("Farsan-Regular.ttf");
}

.multicolumn
{
    margin-top: 10px;
}

.multicolumn__right,
.multicolumn__left
{
    display: inline-block;

    box-sizing: border-box;
    width: 49%;

    vertical-align: top;

    /*my*/
    column-count: 2;
    column-gap: 15px;
}

.multicolumn__right
{
    padding-left: 10px;
}

/*.multicolumn__right.article__content {*/
/*    column-count: 2;*/

/*}*/

.multicolumn__left
{
    padding-right: 10px;

    border-right: 1px solid #000;
}

.multicolumn .line_type_short
{
    width: 50%;
    margin: 10px auto;
}

.multicolumn .article__title
{
    margin: 10px 0 0 0;

/*    my*/
}

.center-column
{
    margin-top: 20px;
    padding: 0 10px;

    flex-grow: 2;
}

/*my*/
.article__title.article__title_font_racing {
    font-family: Racing, cursive;
    font-size: 200%;
    font-weight: bold;
    column-span: all;
}

.article__title.article__title_font_farsan{
    font-family: Farsan, cursive;
    font-size: 230%;
    font-weight: bold;
    column-span: all;
}

.line.line_type_short, .article__author{
    column-span: all;
}

.multicolumn span.article__continue {
    column-span: all;
}
/*––––––––––––––––––Второстепенные колонки газеты––––––––––––––––––*/
.left-column
{
    border-right: 1px solid #000;
}

.right-column
{
    border-left: 1px solid #000;
}

.right-column,
.left-column
{
    box-sizing: border-box;
    width: 200px;
    margin-top: 20px;
    padding: 0 10px;

    flex-shrink: 0;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––*/
